<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="css/darle.css">
  <title>Title</title>
</head>
<body>
<div class="product bsize">
  <!--product header wrap-->
  <div class="product-header-wrap">
    <!--product img-->
    <div class="product-img">
      <img src="image/product/item1.png">
    </div>
    <!--product subject wrap-->
    <div class="product-subject-wrap">
      <!--product name-->
      <div class="product-name-wrap">
        <span class="product-name">컬러큐브 가디언</span>
        <!--product item color box-->
        <div class="item-info-color-box-wrap">
          <span class="item-info-color-box" style="background-color: blue"></span>
        </div>
      </div>
      <!--product price wrap-->
      <div class="product-price-wrap">
        <div class="product-subject-div-left">
          <span>판매가</span>
        </div>
        <div>
          KRW {66,000}원
        </div>
      </div>
      <!--product color wrap-->
      <div class="product-color-wrap">
        <div class="product-color-title product-subject-div-left">
          색상
        </div>
        <div class="product-color-button">
          <div class="color-select-box"><a>블랙</a></div>
          <div class="color-select-box"><a>th:each 로 반복</a></div>
          <div class="color-select-box"><a>블랙</a></div>
        </div>
      </div>
      <!--price count wrap-->
      <div class="price-count-wrap">
        <table>
          <tr>
            <td><span>블랙</span></td>
            <td><input type="number" min="1"></td>
            <td><span>KRW {66,000}</span></td>
          </tr>
        </table>
      </div>
      <!--product total price-->
      <div class="product-total-price">
        <span>TOTAL</span>
        <h2>KRW {가격}원</h2>
        <span>({0})개</span>
      </div>
      <div class="product-order-button-wrap">
        <div class="menu-box">
          <a>바로구매</a>
        </div>
        <div class="menu-box">
          <a>장바구니</a>
        </div>
        <div class="menu-box">
          <a>관심상품</a>
        </div>
      </div>
    </div>
  </div>
  <!--product main wrap-->
  <div class="product-main-wrap">
    <!--product main menu wrap-->
    <div class="product-main-menu-wrap">
      <ul>
        <li><a href="#">상품상세정보</a></li>
        <li><a href="#">구매가이드</a></li>
        <li><a href="#">구매후기</a></li>
        <li><a href="#">상품문의</a></li>
      </ul>
    </div>

  </div>
</div>
</body>
</html>